          
            
.block{

  	text-align: center;
  	vertical-align: middle;
}
.circle {
	background: red;
	border-radius:50%;
	color: black;
	display:table;
	height: 200px;
	font-weight: bold;
	font-size: 1.2em;
	width: auto;
	margin:0 auto;
    margin-bottom: 3%;
}
.circle span {
	display:table-cell;
	vertical-align:middle;
	height:200px;
	width:200px;
	text-align:center;
	padding: 0 15px;
  z-index: 1;
  color: white;
}

.img-circular{
  
 width: 200px;
 height: 200px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 vertical-align:middle;
    transition: opacity .45s ease-in-out;
   -moz-transition: opacity .45s ease-in-out;
   -webkit-transition: opacity .45s ease-in-out;
    
}

.img-circular:hover {
  opacity: 0.3;
            
    
}     
    
.img-george{
    background-image: url('http://etc.usf.edu/clipart/57700/57700/57700_whitefield_lg.gif'); 
}

.img-john{
    
    background-image: url('http://www.jesus-is-savior.com/Books,%20Tracts%20&%20Preaching/Printed%20Sermons/Jonathan_Edwards/jonathan_edwards.jpg')
}


.img-will{
    
    background-image: url('http://cyberhymnal.org/img/d/a/davies_s.jpg')
}